html, body {
  font-family: 'Indie Flower';
  margin: 50px;
}

.newNoteArea {
  font-family: 'Indie Flower';
  font-size:1.5em;
  width: 30%;
  height: 200px;
  background:yellow;
  box-shadow:-5px -5px 5px black;
}
.newNoteArea:focus{
  outline:none;
}

.createNoteButton {
  border-radius:.25em;
  background: green;
  font-family: 'Indie Flower';
  width: 30%;
  border:none;
}
.createNoteButton:hover, .createNoteButton:focus{
  border:none;
  outline:none;
  background-color: #03f740;
  transition: .5s;
  cursor:pointer;
}
.deleteNoteButton:hover{
  cursor:pointer;
}

.noteShow {
  padding:20px;
  box-shadow:-5px -5px 5px black;
  width: 25%;
  height:200px;
  float:left;
  border: 1px solid black;
  background:yellow;
  margin:10px;
  margin-left:3.3%;
  word-wrap:break-word;
  overflow:scroll;
}
